# Install stuff needed when building with gtk2.
# N.B. When doing this, the linker gets confused, so don't...
#   yum install -y gtk2-devel
# This instead makes the linker happy...
libXcursor-devel
libXinerama-devel